.container {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

h1 {
  color: black;
  text-align: center;
}

span {

  line-height: 2;
}
.terminal {
  background-color: #811aad;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
.attention {
  color: red;
}
section {
  background-color: #fff7df;
  padding: 25px;
}
