.container {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

h1 {
  color: black;
  text-align: center;
}

.term {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}
section {
  background-color: #fff7df;
  padding: 25px;
}
